@charset "UTF-8";
/* Fonts Google */
@import url("https://fonts.googleapis.com/css?family=Satisfy");
/* Definición de variables */



.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
  }

.cart {
    height: auto;
    width: auto;
    max-height: 70px;
    max-width: 250px;
  }
  
  #title {
    font-family: "Satisfy", cursive;
    font-size: 2em;
  }
  
  .headerText {
    color: #000000;
  }

  .navbarText {
    color: #FFFFFF;
  }

  #navbar {
    background-color: #000000 !important;
  }
  
  .nav-link {
    padding: 15px;
  }
  


